*.venv
*__pycache__/
*.DS_Store
# IDE dirs and files
.project
.idea/
*.tmproj
.vscode/

# Terraform workspace related files
*.terraform
*.terraform.lock.hcl
*.tfstate*
*.tfstate.*
*_override.tf
*_override.tf.json
